<header class="page-header container">
    <div class="row">
        <div class="col-md-4">
            <div class="image">
                <a href="index.html"><img class="logo"src="logo/officium-blue.png" height="113" width="299"></a>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-pills" id="navegador">
                    <li><a href="index.html" tabindex="">Inicio</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a ng-href="#">Productos</a></li>
                    <li><a href="formulario.html">Contacto</a><li>
                    <li><a href="#">Blog</a></li>
                </ul>
        </div>
    </div>   
</header>